.title {
  text-align: center;
}

.title .title__img {
  height: 30px;
  width: 30px;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background-color: green;
  margin: 2px;
  border-radius: 10px;
  list-style: none;
}

.container .card {
  border: 1px #006eff solid;
  background-color: gray;
  color: white;
  border-radius: 5%;
  margin: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  padding: 5px;
}

.container .card:hover {
  background-color: #8c8c8c;
}

.container .card .card__title {
  width: 100%;
}

.container .card .card__img {
  height: 200px;
  width: 200px;
}
/*# sourceMappingURL=styles.css.map */