.title{
  text-align: center;

    .title__img{
      height: 30px;
      width: 30px;
    }
}

.container {
    display: flex;
    flex-wrap: wrap;
    background-color: green;
    margin: 2px;
    border-radius: 10px;
    list-style: none;
    

    .card {
      border: 1px rgb(0, 110, 255) solid;
      background-color: gray;
      color: white;
      border-radius: 5%;
      margin: 20px;
      display: flex;
      flex-direction: column;
      text-align: center;
      padding: 5px;
  
      &:hover{
        background-color: grayscale($color: #8d8a8a);
      }

      .card__title{
        width: 100%;
      }

      .card__img{
        height: 200px;
        width: 200px;
      }
    }
  }
  
